<div class="form-group" style="margin-left:100px">
    <label for="selectfilter" >Select Month :  </label>
      <div style = "display: inline-block;padding-left: 10px">
          <select class="form-control" style="width:100"  name="monthfilter" [(ngModel)]="selectedMonth" (change)="changeMonth($event)">
              <option value="1">Jan</option>
              <option value="2">Feb</option>
              <option value="3">Mar</option>
              <option value="4">Apr</option>
              <option value="5">May</option>
              <option value="6">Jun</option>
              <option value="7">Jul</option>
              <option value="8">Aug</option>
              <option value="9">Sep</option>
              <option value="10">Oct</option>
              <option value="11">Nov</option>
              <option value="12">Dec</option>
          </select>
      </div>  
</div>

<form #glForm="ngForm" (ngSubmit)="submit(glForm)" style="margin-left:100px">
<div class="form-group" style="margin-left:0px;" >
    <label class="col-md-1 control-label" for="selectedOperator" style="width: 80px;padding-left: 0px;padding-right: 0px">Amount :  </label>    
      <div class="col-md-10" style = "display: inline-block;padding-left: 0px">
          <div class="input-group">
            <select class="form-control" style="width:110px"  [(ngModel)]="selectedOperator" name="selectedOperator" id="selectedOperator"  #ln="ngModel" required>
                <option value="1">More than</option>
                <option value="2">Less than</option>
                <option value="3">Equal to </option>
            </select>
          <input class="form-control" style="width:150px;margin-left: 2px" type="number" name="name" #fn="ngModel" [(ngModel)]="selectedAmount" placeholder="Enter amount" required>    
        </div>
        </div>  
</div>
</form>

<div class="container" style="height:250px;padding-bottom: 10px;margin-bottom: 10px">
    <canvas *ngIf="loaded" baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType" >
    </canvas>
</div>
  
<div class="container" style="margin:10px;">
    <div class="cards">
      <div class="card text-center green float" style="margin-left:320px;">
          <h4 style="margin:0px;color: black">Transactions : </h4>
          <h4 class="card-price">{{this.count}}</h4>
      </div>
      <div class="card text-center green float" style="margin-left:100px;">
          <h4 style="margin:0px;color: black">Total Amount : </h4>    
        <h4 class="card-price">{{this.sum}}</h4>                      
      </div>
        <div class="card text-center green float" style="margin-left:100px;">
            <h4 style="margin:0px;color: black">Total Users : </h4>    
            <h4 class="card-price">{{this.numberUsers}}</h4>  
        </div>
      
      </div>
</div>

<h1 style="text-align : center">Transactions </h1>
<br>
<table  class="table table-sm table-hover" style=" margin: auto;width: 75%">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Payment Method</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactionService.transactions">
      <td>{{transaction.name}}</td>
      <td>{{transaction.date|date:'dd/MM/yyyy'}}</td>
      <td>{{transaction.amount}}</td>
      <td>{{transaction.paymentMethod}}</td>  
    </tr>
  </tbody>
</table>


